* {
    font-family: nunito, sans-serif;
}

html, body {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
}

main {
    min-height: 100%;
    background-image: linear-gradient(to left, rgba(51, 45, 45, 85%), rgba(51, 45, 45, 100%)), url("https://matiaszozaya.com.ar/dolaruco/img/back.jpg");
}

.container {
    max-width: 850px;
}

.vr {
    display: inline-block;
    align-self: stretch;
    width: 1px !important;
    min-height: 1em;
    background-color: currentColor;
    opacity: .25;
}

.fw-bold {
    font-weight: 900 !important;
}